/*Header Styling*/
header {
  box-sizing: border-box;
  background-color: #091C2F;
  width: 100%;
  padding: 4px;
  font-family: "proxima-nova-extra-condensed",sans-serif;
  font-size: 60%;
}

header > h2 {
  color: #fff;
  /*font-family: sans-serif;*/
}

h2 > span {
  color: #9B8754;
}

.special-offer-link {
  color: #9B8754;
}

.special-offer {
  color: #fff;
  background-color: #091C2F;
  border: none;
  float: right;
  margin: 0 1rem;
}

/*Main Styling*/
.hero {
  background-image: url(https://placebear.com/1440/993);
  /*background: blue;*/
  background-size: cover;
  text-align: center;
  color: #fff;
}
hgroup {
  text-align: center;
  width: 32%;
  display: inline-block;
}

h1 {
  /*color: #fff;*/
  font-family: "proxima-nova-extra-condensed",sans-serif;
  display: inline-block;
  font-size: 4rem;
  margin: .5rem;
  font-weight: 600;


}

h3{
  font-family: "ltc-squareface",serif;
}

.products {
  float: left;
}
.stories {
  float: right;
  margin-top: 2rem;
}

.nav1 {
  float: left;
  margin: 25px 20px;
  font-size: 1.5rem;
}

.nav2 {
  float: right;
  margin: 25px 20px;
  font-size: 1.5rem;
}
