header {
  background-color: #091C2F;
  width: 100%;
  padding: 4px;
  font-family: "proxima-nova-extra-condensed",sans-serif;
  font-size: 60%;
}

header > h2 {
  color: #fff;
  /*font-family: sans-serif;*/
}

h2 > span {
  color: #9B8754;
}

.special-offer-link {
  color: #9B8754;
}

.special-offer {
  color: #fff;
  background-color: #091C2F;
  border: none;
  float: right;
  margin: 0 1rem;
}

/*BODY*/
.home-big-container {
  width: 100%;
  length: 100%;
  box-sizing: border-box;
  background-image: url(https://placebear.com/2550/1440);
  background-size: cover;
  padding: 30%;
}

.logo-top {
  margin: 0 50%;
  color: #fff;
  position: absolute;
}

.products {
  color: #fff;
}

.stories {
  color: #fff;
}

.home-slogan {
  color: #fff;
}

.shop-button {
  color: #fff;
}
